.basketPhotos{
    border: 1px dotted grey;
    min-height: 180px;
    width: 100%;
    padding: 15px;
    p{
        margin-top: -10px;
        margin-bottom: 5px;
    }
    img{
        width: 100px;
        height: 100px;
    }
}