.imageSearch{
    width: 100%;
    text-align: center;
    input{
        padding: 5px;
        width: 70%;
    }
    button{
        cursor: pointer;
        padding: 5px;
        margin-left: 2px;
    }
}